<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web development in Python - Home</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
      <h1>Welcome to {{name}}</h1>
       <ul>
      {% for city in cities %}
        <li>{{city}}</li>
      {% endfor %}
</body>
</html>