<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>30 Days of Python Solutions - {{title}}</title>
    {% else %}    
        <title>30 Days of Python Solutions</title>
    {% endif %}    
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>